h1{
    color: white;
}

#home{
    height: calc(100vh - 7.6vh);
    display: flex;
    align-items: center;
    position: relative;
}

#center{
    margin-left: 20px;
}

#center h1{
    font-size: 50px;
    font-family: playfair display;
    margin: 0;
    letter-spacing: 5px;
}

#center div{
    color: white;
    font-family: poppins;
    font-size: 22px;
}

#center div span{
    color: #7E22D3;
}