h1{
    color: white;
}

#home{
    height: calc(100vh - 7.6vh);
    display: flex;
    align-items: center;
    position: relative;
}

#center{
    margin-left: 20px;
    margin-top: -7.6vh;
}

#center div{
    font-size: 35px;
    font-family: poppins;
    color: white;
}

#center div span{
    color: #7E22D3;
    font-size: 50px;
    font-family: georgia;
    letter-spacing: 3px;
}

#center div div{
    font-size: 20px;
}

#center #vd{
    color: #7E22D3;
    text-decoration: none;
}

#center #cn{
    text-decoration: none;
    color: white;
    background: transparent;
    text-align: center;
    padding: 10px 28vw;
    border-radius: 10px;
    top: 20px;
    position: relative;
    font-size: 20px;
    font-family: poppins;
    border: 2px solid #7E22D3;
    transition: .3s;
}

#center #cn:hover{
    color: white;
    background: #7E22D3;
}

#customers{
    margin-top: calc(100vh - 50px);
}

#clients{
    max-width: 100vw;
    display: flex;
    column-gap: 20px;
    overflow: none;
    margin-top: 50px;
}

#clients img{
    width: 120px;
    height: 120px;
    border-radius: 120px;
    border: 2px solid #7E22D3;
    filter: grayscale(100%);
}
